<div>
    <h2 id="page-heading">
        <span>Siem Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-siem-log" [routerLink]="['/siem-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Siem Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="siemLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operatingSystem"><span>Operating System</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operatingSystemVersion"><span>Operating System Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="internalIp"><span>Internal Ip</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="externalIp"><span>External Ip</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hostName"><span>Host Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="context"><span>Context</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="message"><span>Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timestamp"><span>Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="directory"><span>Directory</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="severity"><span>Severity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="source"><span>Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="filePath"><span>File Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rawMessage"><span>Raw Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="siemLogTypeId"><span>Siem Log Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="siemAgentId"><span>Siem Agent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let siemLog of siemLogs ;trackBy: trackId">
                <td><a [routerLink]="['/siem-log', siemLog.id, 'view' ]">{{siemLog.id}}</a></td>
                <td>{{siemLog.operatingSystem}}</td>
                <td>{{siemLog.operatingSystemVersion}}</td>
                <td>{{siemLog.internalIp}}</td>
                <td>{{siemLog.externalIp}}</td>
                <td>{{siemLog.hostName}}</td>
                <td>{{siemLog.context}}</td>
                <td>{{siemLog.message}}</td>
                <td>{{siemLog.timestamp | date:'medium'}}</td>
                <td>{{siemLog.directory}}</td>
                <td>{{siemLog.severity}}</td>
                <td>{{siemLog.source}}</td>
                <td>{{siemLog.filePath}}</td>
                <td>{{siemLog.rawMessage}}</td>
                <td>
                    <div *ngIf="siemLog.siemLogTypeId">
                        <a [routerLink]="['../siem-log-type', siemLog.siemLogTypeId , 'view' ]" >{{siemLog.siemLogTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="siemLog.siemAgentId">
                        <a [routerLink]="['../siem-agent', siemLog.siemAgentId , 'view' ]" >{{siemLog.siemAgentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/siem-log', siemLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/siem-log', siemLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'siem-log', { outlets: { popup: siemLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="siemLogs && siemLogs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
