<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let alarm"> {{alarm.id}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let alarm"> {{alarm.type}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let alarm"> {{alarm.userId}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="machineId">
      <th mat-header-cell *matHeaderCellDef> Machine ID </th>
      <td mat-cell *matCellDef="let alarm"> {{alarm.machineId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef> IP </th>
      <td mat-cell *matCellDef="let alarm"> {{alarm.ip}} </td>
    </ng-container>
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let alarm"> {{alarm.message}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->